body{
    background-color: rgb(224, 211, 211);
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
}

.item{
    text-align: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 32%;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 8px;
    margin-bottom: 5px;
    padding-bottom: 2%;
}

header{
    width: 100%;
    height: 15vh;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.div-pendiente{
    width: 80%;
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    margin-left: 10%;
    margin-top: 10px;
}

.titulo{
    margin-top: 3%;
}

input{
    background-color: white;
}

.forms{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#divFormPendiente{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    height: 40%;
    border-radius: 8px;
    padding: 6%;
    margin-bottom: 10%;
    align-content: center;
}


#formPendiente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    border-radius: 8px;
    margin-left: 9%;
}


#divFormProgreso{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    height: 40%;
    border-radius: 8px;
    padding: 6%;
    margin-bottom: 10%;
}


#formProgreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    border-radius: 8px;
    margin-left: 9%;
}


#divFormCompletada{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    height: 40%;
    border-radius: 8px;
    padding: 6%;
    margin-bottom: 10%;
}


#formCompletada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    border-radius: 8px;
    margin-left: 9%;
}

.btnAgregar{
    background-color: rgb(11, 25, 219);
    width: 90%;
    color: white;
    padding: 2%;
    margin-top: 5%;
}

form{
    display: flex;
    justify-content: center;
}

.btnInicio{
    background-color: rgb(11, 25, 219);
    width: 90%;
    color: white;
    padding: 2%;
    margin-top: 5%;
}


#divFormIniciar{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    height: 40%;
    border-radius: 8px;
    padding: 6%;
    margin-bottom: 10%;
}


#formIniciar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    border-radius: 8px;
    margin-left: 9%;
}

.btnIniciar{
    background-color: rgb(131, 238, 82);
    width: 90%;
    color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 5%;
}


#divFormRegistrar{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    height: 40%;
    border-radius: 8px;
    padding: 6%;
    margin-bottom: 10%;
}


#formRegistrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
    border-radius: 8px;
    margin-left: 9%;
}

.btnRegistrar{
    background-color: rgb(131, 238, 82);
    width: 90%;
    color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 5%;
}
@media (max-width: 768px) {
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .item{
        width: 48%;
    }
}

@media (max-width: 468px) {
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 80vh;
    }
    .item{
        width: 80%;
    }
}